<header>
  <div class="first-header">
    <div class="left">SUMMER SALE</div>
    <div class="right">FLASH SALE</div>
  </div>
  <div class="second-header">
    <div>
      <div class="logo">
        <a href="/">
          LOOKGREAT
        </a>
      </div>
    </div>
    <div>
      <li>
        <a href="/products">
          PRODUCTS
        </a>
      </li>
      <li>
        <a href="/cart">
          CART(0)
        </a>
      </li>
      
    </div>
  </div>
  <div class="third-header">
    Free shipping on orders over $100
  </div>
</header>
