<app-header></app-header>
<div class="cart-page">
  <div class="cart-header">
    <h2>Your Cart</h2>
  </div>
  <div class="cart-page-details" *ngIf="cartItems.length > 0">
    <div>
      <div class="total-amount">
        <span>Total Amount: ${{ total }}</span>
      </div>

      <div class="product-details" *ngFor="let product of cartItems">
        <div class="product-image">
          <img [src]="product.url" alt="" />
        </div>
        <div class="details">
          <div>
            <h1>{{ product.name }}</h1>
          </div>
          <h2>{{ product.description }}</h2>
          <div>
            <span>Amount :</span>
            <span>{{ product.quantity }} x ${{ product.price }}</span>
          </div>

          <button class="" (click)="removeItemFromCart(product.id)">
            remove item
          </button>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <form (ngSubmit)="submitForm()" #form="ngForm">
        <label for="fullname">Full Name*</label>
        <div class="alert alert-danger" *ngIf="errorStatus.fullName.status">
          <div>{{errorStatus.fullName.message}}</div>
        </div>
        <input
          type="text"
          required
          placeholder="Enter your first and last name"
          [(ngModel)]="fullname"
          name="fullname"
          (ngModelChange)="validateName($event)"
        />

        <label for="address">Address *</label>
        <div class="alert alert-danger" *ngIf="errorStatus.address.status">
          <div>{{errorStatus.address.message}}</div>
        </div>
        <input
          type="text"
          required
          placeholder="Address"
          [(ngModel)]="address"
          name="address"
          (ngModelChange)="validateAddress($event)"
        />

        <label for="creditCard">Credit Card Number (12 digit number) *</label>
        <div class="alert alert-danger" *ngIf="errorStatus.creditCard.status">
          <div>{{errorStatus.creditCard.message}}</div>
        </div>
        <input
          type="text"
          required
          placeholder="Enter Your Credit Information"
          minlength="12"
          [(ngModel)]="creditCard"
          name="creditCard"
          (ngModelChange)="validateCreditCard($event)"
          pattern="[\d]*"
        />

        <button class="submit-button" type="submit" [disabled]="form.invalid">
          Complete Payment
        </button>
      </form>
      <span>*We'll never expose your credentials*</span>
    </div>
  </div>

  <div *ngIf="cartItems.length === 0">
    <div class="empty-cart">
      <h2>Your cart is empty</h2>
      <h2>
        Please add some items to your cart
        <a routerLink="/products">continue shopping</a>
      </h2>
    </div>
  </div>
</div>
