<app-header></app-header>
<div class="cart-page">
  <div class="cart-page-details" *ngIf="cartItems.length > 0">
    <div>
      <div class="total-amount"><span>Total Amount: {{ total }}</span></div>

      <div class="product-details" *ngFor="let product of cartItems">
        <div class="product-image">
          <img [src]="product.url" alt="" />
        </div>
        <div class="details">
          <div>
            <h1>{{ product.name }}</h1>
          </div>
          <h2>{{ product.description }}</h2>
          <div>
            <span>Amount :</span>
            <span>{{ product.price }}</span>
          </div>

          <div><span>Quantity :</span>{{ product.quantity }}</div>

          <button class="" (click)="removeItemFromCart(product.id)">remove item</button>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <form  (ngSubmit)="submitForm()" #form="ngForm">
        <input type="text" required placeholder="Full name" ([ngModel])="fullname"  />
        <input type="text" required placeholder="Address"  ([ngModel])="address" />
        <input type="text" required placeholder="Credit Card Number" ([ngModel])="creditCard"  />
        <button class="submit-button" type="submit" [disabled]="form.invalid">Complete Payment</button>
      </form>
      <span>*We'll never expose your credentials*</span>
    </div>
  </div>

  <div *ngIf="cartItems.length === 0">
   
    <div class="empty-cart">
      <h1>YOUR CART</h1>
      <h2>Your cart is empty</h2>
      <h2>Please add some items to your cart <a routerLink="/products">continue shopping</a></h2>
    </div>
  </div>
</div>
