article img {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

.card-details {
  margin: 1rem 0;
  display: flex;
  color: #767676;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-details button {
  background: white;
  color: black;
  border: none;
  outline: none;
  width: 30%;
  margin: 1.5rem 0;
  border: 1px solid lavender;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
span {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  padding-bottom: 0.8rem;
}

h1 {
  padding: 0.4rem 0;
}

select {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid lavender;
}