<div class="container">
  <div *ngIf="product.id" class="product-details">
    <div class="product-image">
      <img [src]="product.url" alt="" />
    </div>
    <div class="details">
      <div>
        <h1>
          {{ product.name }}
        </h1>
      </div>
      <h2>{{ product.description }}</h2>
      <div>
        <span>Amount :</span>
        <span>{{ product.price }}</span>
      </div>

      <div><span>Quantity :</span><select type="number" value="0" [(ngModel)]="quantity">
        <option *ngFor="let qty of quantityList">{{ qty }}</option>
      </select></div>

      <div>
       

        <!-- <button>CONTINUE SHOPPING</button> -->

        <button (click)="addToCart(product)">ADD ITEM TO CART</button>
      </div>
    </div>
  </div>

  
</div>
