<app-header></app-header>
<div class="cover">
  <div class="cover-image"></div>
  <div class="cover-text">
    <div>
      <h2>NEW SHADES</h2>
      <h1>GLOSS BOMB HEAT</h1>
      <p>
        NOW AVAILABLE IN FAN-FAVE SHADES FENTY GLOW, FU$$Y + HOT CHOCOLIT $22
      </p>
      <button>SHOP NOW</button>
    </div>
  </div>
  <div class="cover-image2"></div>
</div>

<div>
  <section class="container">
    <div class="section">
      <h2>LOOKGREAT'S MOST WANTED</h2>
      <h3>Look for the month</h3>
    </div>

    <div class="product-list">
      <div *ngFor="let product of productList">
        <app-card [product]="product"></app-card>
      </div>
    </div>
  </section>
</div>
