.cover {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

.cover-image{
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/cover3.jpg");
  background-size: cover;
  background-position: top center;

}
.cover-image1{
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/cover1.jpg");
  background-size: cover;
  background-position: top center;

}
.cover-image2{
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/cover2.jpg");
  background-size: cover;
  background-position: top center;

}

.cover-text {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  background-color: lavenderblush;
}

.cover-text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 1rem 5rem;
  margin: 2rem 0;
  cursor: pointer;
}

h2 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

p {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
}

.section {
  margin: 3rem 0;
  text-align: center;
}

.section h2 {
  font-weight: bold;
  font-size: 2rem;
}